header > a {
    text-decoration: none;
    color: black;
}

.icon-hover:hover {
    border-color: black !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: rgb(255, 0, 0, 0.5) !important;
}


.btn:hover {
    color: rgb(255, 0, 0, 0.5);
    border-color: black;
}

.card-link {
    text-decoration: none;
    color: black;
    font-size: small
}

.card-link:hover {
    color: rgb(255, 0, 0, 0.5);
}

.open-sans{
    font-family: 'Open Sans', sans-serif;   
    font-style: italic
}
.italic{
    font-family: 'Open Sans', sans-serif; 
    font-style: italic  
}