<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <form #form="ngForm" (ngSubmit)="registerHandler()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <h2>Register</h2>
                <div class="row mb-4">

                    <ng-container *ngIf="firstName.touched">
                        <p class="error" *ngIf="firstName?.errors?.['required']">
                            First Name is required.
                        </p>
                        <p class="error" *ngIf="firstName?.errors?.['minlength']">
                            First Name must be at least 3 characters long.
                        </p>
                    </ng-container>
                    <ng-container *ngIf="lastName.touched">
                        <p class="error" *ngIf="lastName?.errors?.['required']">
                            Last Name is required.
                        </p>
                        <p class="error" *ngIf="lastName?.errors?.['minlength']">
                            Last Name must be at least 3 characters long.
                        </p>
                    </ng-container>

                    <div class="col-6">
                        <div class="form-outline">
                            <input type="text" id="firstName" name="firstName" class="form-control" ngModel
                                #firstName="ngModel" required minlength="3" />
                            <label class="form-label" for="firstName">First name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-outline">
                            <input type="text" id="lastName" name="lastName" class="form-control" ngModel
                                #lastName="ngModel" required minlength="3" />
                            <label class="form-label" for="lastName">Last name</label>
                        </div>
                    </div>
                </div>

                <!-- Delivery address input -->
                <div class="form-outline mb-4">
                    <input type="text" id="deliveryAddres" name="deliveryAddres" class="form-control" ngModel
                        #deliveryAddres="ngModel" />
                    <label class="form-label" for="deliveryAddres">Delivery address (optional)</label>
                </div>

                <!-- Phone number input -->
                <div class="form-outline mb-4">
                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" ngModel
                        #phoneNumber="ngModel" />
                    <label class="form-label" for="phoneNumber">Phone number: (optional)</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <ng-container *ngIf="email.touched">
                        <p class="error" *ngIf="email?.errors?.['required']">
                            Email is
                            requiredssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss.
                        </p>
                        <p class="error" *ngIf="email?.errors?.['email']">
                            Email must be a valid email address.
                        </p>
                    </ng-container>

                    <input type="email" id="email" name="email" class="form-control" ngModel #email="ngModel" required
                        email />
                    <label class="form-label" for="email">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" ngModel
                        #password="ngModel" required />
                    <label class="form-label" for="password">Password</label>
                </div>

                <!-- Re-password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="rePassword" name="rePassword" class="form-control" ngModel
                        #rePassword="ngModel" required />
                    <label class="form-label" for="rePassword">Repeat Password</label>
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>