body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

/* .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #9133a2;
}

.profile-button:focus {
    background: #9133a2;
    box-shadow: none
}

.profile-button:active {
    background: #9133a2;
    box-shadow: none
} */

.back:hover {
    color: #9133a2;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.error {
    background-color: rgb(255, 0, 0, 0.5);
    border-radius: 10px;
    word-wrap: break-word
}
