<footer class="text-center text-muted mt-3" style="background-color: #f5f5f5;">
  <section class="">
    <div class="container text-center pt-4 pb-4">
          <span class="fw-bold text-secondary display-6 open-sans">
            Book Store
          </span>
          <p class="mt-2 text-dark">
            © 2023 Copyright: Maxim Kraychev
          </p>
          <a href="https://github.com/maximkraychev/E-Shop" target="_blank"><i class="fa-brands fa-github"></i> Repository</a>
    </div>
  </section>
</footer>