.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}


#collapseFour label {
  border: solid #4b4d50 1px;
}

#collapseFour input:checked+label {
  background-color: #6C757D;
  color: white;
  border-color: #6C757D;
}

.filter-submit-btn:hover {
  background-color: #6C757D;
  color: white;
}

li>a {
  color: black;
}

.forward-back-anchors:hover {
  background-color: #6C757D;
  color: white;
  cursor: pointer;
}