<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3">
        <!-- Toggle button -->
        <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#filerNavigation" aria-controls="filerNavigation" aria-expanded="false"
          aria-label="Toggle navigation">
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <form #filterForm="ngForm" (ngSubmit)="applayFilter()">
          <div class="collapse card d-lg-block mb-5" id="filerNavigation">
          <div class="accordion" id="accordionAuthors">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button text-dark bg-light" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Price
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body pb-0">
                  <div class="row mb-3">
                    <div class="col-6">
                      <p class="mb-0">
                        Min $
                      </p>
                      <div class="form-outline">
                        <input type="number" name="minPrice" id="minPrice" class="form-control" ngModel/>
                        <label class="form-label" for="minPrice"></label>
                      </div>
                    </div>
                    <div class="col-6">
                      <p class="mb-0">
                        Max $
                      </p>
                      <div class="form-outline">
                        <input type="number" name="maxPrice" id="maxPrice" class="form-control" ngModel/>
                        <label class="form-label" for="maxPrice"></label>
                      </div>
                    </div>
                  </div>
         
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button text-dark bg-light" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Search
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body pb-0">
                  <div class="mb-3">
                      <input type="text" name="search" id="search" class="form-control" placeholder="Search by title" ngModel/>
                      <label class="form-label" for="search"></label>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="w-100 d-flex justify-content-center">
             
              <button type="submit" class="btn btn-white w-75 border border-secondary my-2 filter-submit-btn">apply</button>
            </div>
          
          </div>
        </div>
      </form>
      </div>
      <!-- sidebar -->
      <!-- content -->
      <div class="col-lg-9">
        <header class="d-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2" >{{collectionSize}} Items found </strong>
          <div class="ms-auto">
            <select class="form-select d-inline-block w-auto border pt-1" #selectElement>
              <option value="fromAtoZ">A-Z</option>
              <option value="highestPrice">Highest Price </option>
              <option value="lowestPrice">Lowest Price</option>
              <option value="discount">Discount</option>
            </select>
          </div>
        </header>

        <div class="row">
          <ng-container *ngIf="!statusLoader">
            <ng-container *ngFor="let data of loadedBooks">
              <div class="col-lg-3 col-md-6 col-sm-6 d-flex my-1">
                <app-book-card [book]="data"></app-book-card>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="statusLoader">
            <app-loader></app-loader>
          </ng-container>
        </div>

        <hr />

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item mx-2">
              <a class="page-link forward-back-anchors" (click)="loadBackward()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                Previous
              </a>
            </li>
            <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li> -->
            <li class="page-item mx-2">
              <a class="page-link forward-back-anchors" (click)="loadForward()" aria-label="Next">
                Next
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Pagination -->
      </div>
    </div>
  </div>
</section>
