<section>
    <div class="container my-5">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0 open-sans">Latest Additions</h2>
            <a href="/catalog" class="h-primary d-block italic">All Categories <i class="fa-solid fa-chevron-right fa-lg"></i></a>
        </header>
  
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book1.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">Game Of Thrones</h5>
              <a href="/author" class="card-link italic">George R. R. Martin</a>
                <h5 class="card-text ">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book5.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title truncate-text open-sans">Harry Potter And The Order of the Phoenix</h5>
              <a href="/author" class="card-link italic">J.K.Rowling</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book6.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">I Am Number Four The Power of Six</h5>
              <a href="/author" class="card-link italic">Pittacus Lore</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book6.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">I Am Number Four The Power of Six</h5>
              <a href="/author" class="card-link italic">Pittacus Lore</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book2.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">The Intelligent Investor</h5>
              <a href="/author" class="card-link italic">Benjamin Graham</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book3.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">Elon Musk</h5>
              <a href="/author" class="card-link italic">Ashlee Vance</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book3.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">Elon Musk</h5>
              <a href="/author" class="card-link italic">Ashlee Vance</a>
              <h5 class="card-text">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a href="/details" class="card-link">
          <div class="card w-100 h-100 my-2 shadow-2-strong">
            <div class="book-img d-flex justify-content-center align-items-center py-4">
              <img src="/assets/book3.jpg" class="card-img-top w-75 h-75" style="object-fit: contain;" />
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title open-sans">Elon Musk</h5>
              <a href="/author" class="card-link italic">Ashlee Vance</a>
              <h5 class="card-text ">$30</h5>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>Add to cart</a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-dark px-1"></i></a>
              </div>
            </div>
          </div>
          </a>
        </div>

      </div>
    </div>
  </section>
