<section>
    <div class="container my-5">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0 open-sans">Latest Additions</h2>
            <a href="/catalog" class="h-primary d-block italic">View All <i class="fa-solid fa-chevron-right fa-lg"></i></a>
        </header>
  
      <div class="row">
        <ng-container *ngFor="let data of mockData">
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex my-1">
            <!-- <app-book-card [book]="data"></app-book-card> -->
          </div>
        </ng-container>

      </div>
    </div>
  </section>
