<div class="main-wrapper">
    <picture class="scarecrow-img">
        <img src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png" alt="scarecrow">
    </picture>
    <div class="error-text">
        <h2>I have bad news for you</h2>
        <p>The page you are looking for might be removed or is temporarily unvailable.</p>
        <span class="input-group-btn">
            <button routerLink="/home" class="btn" type="button">Back to homepage</button>
        </span>
    </div>
</div>