<div class="accordion accordion-flush" id="accordionFlushExample">

    <ng-container *ngFor="let order of orders">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + order.orderId" aria-expanded="false" aria-controls="flush-collapseOne">
                    Order ID => {{order.orderId}}
                </button>
            </h2>
            <div [id]="'collapse' + order.orderId" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <h3>{{order.userName}} {{order.userSurname}} - {{order.userEmail}} - {{order.userPhoneNumber}} - {{order.userDeliveryAddres}}</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let book of order.books">
                                    <tr>
                                        <td>{{book.title}}</td>
                                        <td>{{book.price.toFixed(2)}}</td>
                                        <td>{{book.quantity}}</td>
                                        <td>{{book.id}}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <th>Total price:</th>
                                <th>{{order.orderPrice.toFixed(2)}}</th>
                                <th></th>
                                <th></th>
                                <th><app-load-button (click)="onClickDone(order.orderId)" >Done</app-load-button></th>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </ng-container>

    <div class="text-center" *ngIf="orders.length == 0">
        <p class="h5 my-5">There are no orders.</p>
      </div>
</div>
