<h1>Table Example</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>25</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mike Johnson</td>
                <td>40</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mike Johnson</td>
                <td>40</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mike Johnson</td>
                <td>40</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mike Johnson</td>
                <td>40</td>
            </tr>
        </tbody>
    </table>
</div>
