<!-- <section id="categories">
    <div class="container-lg">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0">Featured Categories</h2>
            <a href="" class="h-primary d-block">All Categories <i class="fa-solid fa-chevron-right fa-lg"></i></a>
        </header>
        <ul class="list-unstyled my-0 row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-wd-5">
            <li class="product-category col mb-4 mb-xl-0">
                <div class="product-category__inner bg-indigo-light px-6 py-5">
                    <div class="product-category__icon font-size-12 text-primary-indigo">
                        <i class="fa-solid fa-images fa-2xl"></i>
                    </div>
                    <div class="product-category__body">
                        <h3 class="text-truncate font-size-3">Arts & Photography</h3>
                        <a href="" class="stretched-link text-dark">Shop Now</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section> -->

<section id="categories">
    <div class="container-lg">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0 open-sans">Featured Categories</h2>
            <a href="/catalog" class="h-primary d-block italic">All Categories <i class="fa-solid fa-chevron-right fa-lg"></i></a>
        </header>
        <ul class="list-unstyled my-0 row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 row-cols-wd-5">
            <li class="product-category col mb-4 mb-xl-0">
                <a href="asdasdasd" class="anchor-category">
                    <div class="product-category__inner bg-photo px-6 py-5 justify-content-center">
                        <div class="product-category__icon font-size-12">
                            <i class="fa-solid fa-images fa-2xl"></i>
                        </div>
                        <div class="product-category__body my-2">
                            <h5 class="text-truncate font-size-3 open-sans">Photography</h5>
                            <h6 class="stretched-link text-dark italic">Shop Now</h6>
                        </div>
                    </div>
                </a>
            </li>
            <li class="product-category col mb-4 mb-xl-0">
                <a href="asdasdasd" class="anchor-category">
                    <div class="product-category__inner bg-finance px-6 py-5 justify-content-center">
                        <div class="product-category__icon font-size-12">
                            <i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
                        </div>
                        <div class="product-category__body my-2">
                            <h5 class="text-truncate font-size-3 open-sans">Finance</h5>
                            <h6 class="stretched-link text-dark italic">Shop Now</h6>
                        </div>
                    </div>
                </a>
            </li>
            <li class="product-category col mb-4 mb-xl-0">
                <a href="asdasdasd" class="anchor-category">
                    <div class="product-category__inner bg-fantasy px-6 py-5 justify-content-center">
                        <div class="product-category__icon font-size-12">
                            <i class="fa-solid fa-dragon fa-2xl"></i>
                        </div>
                        <div class="product-category__body my-2">
                            <h5 class="text-truncate font-size-3 open-sans">Fantasy</h5>
                            <h6 class="stretched-link text-dark italic">Shop Now</h6>
                        </div>
                    </div>
                </a>
            </li>
            <li class="product-category col mb-4 mb-xl-0">
                <a href="asdasdasd" class="anchor-category">
                    <div class="product-category__inner bg-biography px-6 py-5 justify-content-center">
                        <div class="product-category__icon font-size-12">
                            <i class="fa-solid fa-head-side-virus fa-2xl"></i>
                        </div>
                        <div class="product-category__body my-2">
                            <h5 class="text-truncate font-size-3 open-sans">Biography</h5>
                            <h6 class="stretched-link text-dark italic">Shop Now</h6>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>