<section id="intro" class="intro-bg">
    <div class="container-lg">
      <div class="row g-4 justify-content-center align-items-center">
        <div class="col-md-10 text-center text-white overlay-box">
          <h1>
            <div class="display-2">Discover the World of Books</div>
            <div class="display-6 py-2">Explore, Learn, and Dream with Our Extensive Book Selection</div>
          </h1>
          <a href="#pricing" class="btn btn-secondary btn-lg">Explore</a>
        </div>
      </div>
    </div>
  </section>
