<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <form #form="ngForm" (ngSubmit)="loginHandler()">
                <!-- Email input -->
                <h2>Login</h2>
                <div class="form-outline mb-4">
                    <ng-container *ngIf="email.touched">
                        <p class="error" *ngIf="email?.errors?.['required']">
                            Theme email is required.
                        </p>
                        <p class="error" *ngIf="email?.errors?.['minlength']">
                            Theme email must be at least 5 characters long.
                        </p>
                    </ng-container>

                    <input type="email" id="email" name="email" class="form-control" ngModel #email="ngModel"
                        required />
                    <label class="form-label" for="email">Email address</label>
                </div>



                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" ngModel
                        #password="ngModel" />
                    <label class="form-label" for="rePassword">Password</label>
                </div>

                <ng-container *ngIf="password.touched">
                    <p class="error" *ngIf="password?.errors?.['required']">
                        Theme password is required.
                    </p>
                    <p class="error" *ngIf="password?.errors?.['minlength']">
                        Theme password must be at least 5 characters long.
                    </p>
                </ng-container>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                            <label class="form-check-label" for="form2Example34"> Remember me </label>
                        </div>
                    </div>

                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                </div>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="#!">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>