<section id="best-selling-books">
  <div class="container-lg">
    <header class="mb-5 d-md-flex justify-content-between align-items-center">
      <h2 class="font-size-7 mb-3 mb-md-0 open-sans">Explore</h2>
      <a href="/catalog" class=" d-block italic"> View All <i class="fa-solid fa-chevron-right fa-lg"></i></a>
    </header>

    <ul
      class="list-unstyled my-0 row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 row-cols-wd-5">
      <ng-container *ngFor="let bookData of books">
        <a href="{{bookData.id}}/details" class="anchor-card">
          <div class="book-content px-6 py-2">
            <div class="book-img d-flex justify-content-center mb-3">
            <img class="w-50 h-50" src="{{bookData.book.image}}">
          </div>
          <div class="book-info">
            <h5 class="open-sans">{{bookData.book.title}}</h5>
            <a class="book-author text-dark italic">{{bookData.book.author}}</a>
            <app-promotion-card [regularPrice]="bookData.book.price" [discount]="bookData.book.discount"></app-promotion-card>
            <!-- <h5 class="text-truncate font-size-3">${{bookData.book.price}}</h5> -->
          </div>
          <!-- <div class="hidden">
            <a  class="add-book open-sans"><i class="fa-solid fa-cart-shopping"></i>ADD</a>
            <a  class="add-wishlist open-sans"><i class="fa-solid fa-heart px-1"></i>Whish</a>
          </div> -->
        </div>
      </a>
    </ng-container>
    </ul>
  </div>
</section>
