a {
    text-decoration: none;
}

header>a {
    /* color: #6C757D; */
    text-decoration: none;
    color: black;
}

.anchor-card {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0, 0.1)
}

.anchor-card:hover {
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: rgb(0, 0, 0, 0.5);
    /* transform: scale(1.1, 1.1);
    background-color: rgb(108, 117, 125, 0.1); */

}

.book-img {
    justify-content: center;
}

.book-author {
    font-size: small;
}

.book-author:hover {
    color: rgb(255, 0, 0, 0.5) !important;
}

.hidden>a {
    margin-right: 10px;
    color: black;
}

.hidden>a:hover {
    color: rgb(255, 0, 0, 0.5);
}

@media (min-width: 576px) {
    .hidden {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .hidden {
        padding: 5px;
    }
}

@media (min-width: 992px) {
    .hidden {
        padding: 5px;
        transform: translateY(20px);
        transition: 0.4s;
        opacity: 0;
    }

    .anchor-card:hover .hidden {
        transform: translateY(0px);
        opacity: 1;
    }
 }


.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.italic {
    font-family: 'Open Sans', sans-serif;
    font-style: italic
}


/* .hidden {
    padding: 5px;
    transform: translateY(20px);
    transition: 0.4s;
    opacity: 0;
}

.anchor-card:hover .hidden {
    transform: translateY(0px);
    opacity: 1;
} */