<section>
    <div class="d-flex justify-content-center" > <!-- style="height: 100vh;" Center the container vertically and horizontally -->
    <div class="container">
        <div class="row">
            <!-- Admin nav bar -->
            <div class="col-md-3 col-lg-2 d-md-block bg-dark">
                <app-admin-sidebar></app-admin-sidebar>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <router-outlet></router-outlet>
                <!-- <h1>Table Example</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>John Doe</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jane Smith</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mike Johnson</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mike Johnson</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mike Johnson</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mike Johnson</td>
                                <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </main>
        </div>
    </div>
    </div>
</section>




