<section id="best-selling-books">
    <div class="container-lg">
        <header class="mb-5 d-md-flex justify-content-between align-items-center">
            <h2 class="font-size-7 mb-3 mb-md-0">Bestselling Books</h2>
            <a href="/catalog" class="h-primary d-block"> View All <i class="fa-solid fa-chevron-right fa-lg"></i></a>
        </header>

        <ul class="list-unstyled my-0 row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4 row-cols-wd-5">
            <a href="" class="anchor-card">
                <div class="book-content px-6 py-2">
                  <div class="book-img d-flex justify-content-center mb-3">
                    <img class="w-50 h-50" src="/assets/book1.jpg">
                  </div>
                  <div class="book-info">
                    <h5 class="text-truncate font-size-3">Photography</h5>
                    <h6 class="text-dark">Shop Now</h6>
                  </div>
                </div>
              </a>
        </ul>
    </div>
</section>
