div.form {
    display: block;
    text-align: center;
    margin-top: 5%;
    /* background-color: darksalmon; */
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin: 30px;
}