<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-xxl">
      <a href="" class="navbar-brand">
          <span class="fw-bold text-secondary display-6 open-sans">
              Book Store
          </span>
      </a>

      <form class="d-flex" role="search">
          <input class="form-control me-2 open-sans" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <!-- <form class="d-flex justify-content-center justify-content-md-end" role="search"> 
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form> -->


      <!-- toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav">

            <ng-container *ngTemplateOutlet="userState ? forUserTemplate : forGuestTemplate"></ng-container>

            <ng-template #forGuestTemplate>
                <li class="nav-item">
                    <a href="" class="nav-link open-sans"> <i class="fa-solid fa-layer-group px-1"></i>Catalog</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/auth/register" class="nav-link open-sans"><i class="fa-solid fa-key px-1"></i>Regiser</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/auth/login" class="nav-link open-sans"> <i class="fa-solid fa-arrow-up-from-bracket px-1"></i>Login</a>
                </li>
            </ng-template>

            <ng-template #forUserTemplate>
                <li class="nav-item">
                    <a href="" class="nav-link open-sans"> <i class="fa-solid fa-user px-1"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/auth/logout" class="nav-link open-sans"><i class="fa-solid fa-arrow-right-from-bracket px-1"></i>Logout</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link open-sans"><i class="fa-solid fa-heart px-1"></i>Wishlist</a>
                  </li>
            </ng-template>
            
                <li class="nav-item">
                    <a href="" class="nav-link open-sans"><i class="fa-solid fa-cart-shopping px-1"></i>My card</a>
                </li>
          </ul>
      </div>
  </div>
</nav>